xsl/toxls/factureXPATHCSS+html1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.w3.org/1999/xhtml" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="big" type="html:T_big"/>
	<xs:element name="i" type="html:T_i"/>
	<xs:element name="u" type="html:T_u"/>
	<xs:simpleType name="T_big">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SOL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_i">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Blanc"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_u">
		<xs:restriction base="xs:string">
			<xs:enumeration value="(forfait plaque +MO)"/>
			<xs:enumeration value="SOL"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
