xsl/toxls/factureXPATHCSS+html.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:html="http://www.w3.org/1999/xhtml" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="factureXPATHCSS+html1.xsd"/>
	<xs:element name="adr1" type="T_adr1"/>
	<xs:element name="adr2" type="T_adr2"/>
	<xs:element name="client" type="T_client"/>
	<xs:element name="cp" type="T_cp"/>
	<xs:element name="designation" type="T_designation"/>
	<xs:element name="destinataire" type="T_destinataire"/>
	<xs:element name="facture" type="T_facture"/>
	<xs:element name="factures" type="T_factures"/>
	<xs:element name="ligne" type="T_ligne"/>
	<xs:element name="lignes" type="T_lignes"/>
	<xs:element name="nbUnit" type="T_nbUnit"/>
	<xs:element name="phtByUnit" type="T_phtByUnit"/>
	<xs:element name="ref" type="T_ref"/>
	<xs:element name="stotligne" type="T_stotligne"/>
	<xs:element name="surface" type="T_surface"/>
	<xs:element name="ville" type="T_ville"/>
	<xs:attribute name="adr1ets">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AV PIERRE GEORGES"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="adr2ets">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="cpets">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="75015"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="dateeditionXML">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2012-12-15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="datefacture">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2012-06-21"/>
				<xs:enumeration value="2012-07-05"/>
				<xs:enumeration value="2012-08-10"/>
				<xs:enumeration value="2012-09-04"/>
				<xs:enumeration value="2013-07-04"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="idclient">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="123"/>
				<xs:enumeration value="132"/>
				<xs:enumeration value="234"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="logourl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1.jpg"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="numfacture">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="11"/>
				<xs:enumeration value="12"/>
				<xs:enumeration value="23"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="refdevis">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="rsets">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ECO-nome"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Devis"/>
				<xs:enumeration value="Facture"/>
				<xs:enumeration value="devis"/>
				<xs:enumeration value="facture"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="typeUnit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="HOUR"/>
				<xs:enumeration value="HOURBYMETER2"/>
				<xs:enumeration value="UNIT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="unite">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="m2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="villeets">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Paris"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:complexType name="T_adr2">
	</xs:complexType>
	<xs:complexType name="T_client">
		<xs:sequence>
			<xs:element ref="destinataire"/>
			<xs:element ref="adr1"/>
			<xs:element ref="adr2"/>
			<xs:element ref="cp"/>
			<xs:element ref="ville"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_cp">
	</xs:complexType>
	<xs:complexType name="T_designation" mixed="true">
		<xs:choice minOccurs="0">
			<xs:element ref="html:big"/>
			<xs:element ref="html:u"/>
			<xs:element ref="html:i"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="T_facture">
		<xs:sequence>
			<xs:element ref="client" minOccurs="0"/>
			<xs:element ref="lignes"/>
		</xs:sequence>
		<xs:attribute ref="numfacture" use="required"/>
		<xs:attribute ref="datefacture" use="required"/>
		<xs:attribute ref="type" use="required"/>
		<xs:attribute ref="idclient" use="required"/>
		<xs:attribute ref="refdevis"/>
	</xs:complexType>
	<xs:complexType name="T_factures">
		<xs:sequence>
			<xs:element ref="facture" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="rsets" use="required"/>
		<xs:attribute ref="adr1ets" use="required"/>
		<xs:attribute ref="adr2ets" use="required"/>
		<xs:attribute ref="logourl" use="required"/>
		<xs:attribute ref="cpets" use="required"/>
		<xs:attribute ref="villeets" use="required"/>
		<xs:attribute ref="dateeditionXML" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_ligne">
		<xs:sequence>
			<xs:element ref="ref"/>
			<xs:element ref="designation"/>
			<xs:element ref="surface" minOccurs="0"/>
			<xs:element ref="phtByUnit"/>
			<xs:element ref="nbUnit"/>
			<xs:element ref="stotligne"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_lignes">
		<xs:sequence>
			<xs:element ref="ligne" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_nbUnit">
		<xs:simpleContent>
			<xs:extension base="ST_nbUnit">
				<xs:attribute ref="typeUnit" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_surface">
		<xs:simpleContent>
			<xs:extension base="ST_surface">
				<xs:attribute ref="unite" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_nbUnit">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="0.5"/>
			<xs:enumeration value="1.5"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="2.5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_surface">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="15"/>
			<xs:enumeration value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_adr1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="chemin de l&apos;homme dormant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_destinataire">
		<xs:restriction base="xs:string">
			<xs:enumeration value="jean rostremer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_phtByUnit">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="5.95"/>
			<xs:enumeration value="6.95"/>
			<xs:enumeration value="8.95"/>
			<xs:enumeration value="9.95"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ref">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REF-1934"/>
			<xs:enumeration value="REF-2134"/>
			<xs:enumeration value="REF-2135"/>
			<xs:enumeration value="REF-2135-2"/>
			<xs:enumeration value="REF-2234"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_stotligne">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="11.9"/>
			<xs:enumeration value="13.425"/>
			<xs:enumeration value="17.375"/>
			<xs:enumeration value="19.9"/>
			<xs:enumeration value="24.873"/>
			<xs:enumeration value="69.65"/>
			<xs:enumeration value="74.624"/>
			<xs:enumeration value="8.922"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ville">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nancy Lest"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
